@import '../variables';
@import url('../example/example.css');

.slider{
    @include flex($around);
    width: 98%;
    height: 400px;
    margin: 10px 0;
    border: 1px solid #0008;
    border-radius: 20px;
    @media only screen and(max-width: 375px){
        display: none;
    }

    &--content{
        overflow: hidden;
        width: 80%;
        height: 100%;
    }

    &--btn{
        width: 40px;
        height: 40px;
        font-family: "Permanent Marker", cursive;
        text-align: center;
        font-size: 1.8em;
        font-weight: 700;
        border: 1px solid transparent;
        border-radius: 50%;
        background: rgba(20, 186, 236, $alpha: .8);
        

        &:hover{
            cursor: pointer;
            background: transparent;
            border: 1px solid rgba(20, 186, 236, $alpha: .8);
        }
        &:active{
            color: rgba(20, 186, 236, $alpha: .8);
            transform: translateY(1px);
        }
    }
}