@import '../variables';


.header{
    @include flex($around);
    width: 100%;
    height: auto;
    padding-top: 5px;

    &--logo{
        display: block;

        width: 20%;
        max-width: 250px;
        min-width: 150px;
        height: auto;

        border-radius: 50%;
        border: 1px solid lightgray;
    }

    &--name{
        width: 100%;
        
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.3em;
        border-bottom: 2px solid black;
        margin-bottom: 3px;
    }

    &--info{
        @include flex-column($around);
        width: 46.15%;
        max-width: 500px;
        height: auto;
    }

    .menu{
        @include flex-column($around, $f-start);
        width: 100%;
        height: 60%;
        background: #fff8;

        &--item{
            &:not(:last-child){
                padding-bottom: 3px;
            }
        }
        &--link{
            text-decoration: none;
            font-family: 'Roboto Slab', serif;
            font-size: 2em;
            color: #000;
        }
        &--separator{
            font-size: 3em;
            margin: 0 3px;

            @media only screen and(max-width: 436px){
                display: none;
            }
        }
    }
}