@import './variables';
@import url('./header/header.css');
@import url('./expand/expand.css');
@import url('./main/main.css');

.page{
    @include flex-column();
    width: 100%;
    height: auto;

    @media only screen and (max-width: 980px){
        font-size: 10px;
    }
    

    .content{
        @include flex-column();
        width: 100%;
        max-width: 920px;
        height: auto;
    }

    .none{
        display: none;
    }

    .headline{
        font-family: 'Roboto Slab', serif;
    }
    .text{
        font-family: 'Open Sans', sans-serif;
    }

    .example, .expand--btn{
        transition: all 0.5s ease-in-out;
    }
}